/*Header styling*/
.header {
	text-align: center;
	min-width: 1250px;
	font-size: 18px;
	background-color: #696969;
	margin: 0 auto;
	height: 45px;
}
.col-xs-1 {
	width: 11.25%;
}
.col-xs-2 {
	width: 5%;
}
/*.fa:hover, .fa:focus, .fa:active .fa:visited {*/
/*	border: none;*/
/*	outline: none;*/
/*	color: #C0C0C0;*/
/*	text-decoration: none;*/
/*}*/

.header-home {
	font-family: fantasy;
	margin-top: 12px;
	color: white;
}
.header-home:hover, .header-home:focus, .header-home:active {
	border: none;
	outline: none;
	text-decoration: none;
	color: #C0C0C0;
}
.header-home:hover .fa-home {
	color: #C0C0C0;
}
.header-bio {
	font-family: fantasy;
	margin-top: 12px;
	color: white;
}
.header-bio:hover, .header-bio:focus, .header-bio:active {
	border: none;
	outline: none;
	text-decoration: none;
	color: #C0C0C0;
}
.header-bio:hover .fa-user-circle {
	color: #C0C0C0;
}
.header-pics {
	font-family: fantasy;
	margin-top: 12px;
	color: white;
}
.header-pics:hover, .header-pics:focus, .header-pics:active {
	border: none;
	outline: none;
	text-decoration: none;
	color: #C0C0C0;
}
.header-listen {
	font-family: fantasy;
	margin-top: 12px;
	color: white;
}
.header-listen:hover, .header-listen:focus, .header-listen:active {
	border: none;
	outline: none;
	text-decoration: none;
	color: #C0C0C0;
}
.header-listen:hover .fa-music {
	color: #C0C0C0;
}
.header-associations {
	font-family: fantasy;
	margin-top: 12px;
	color: white;
}
.header-associations:hover, .header-associations:focus, .header-associations:active {
	border: none;
	outline: none;
	text-decoration: none;
	color: #C0C0C0;
}
.header-calendar {
	font-family: fantasy;
	margin-top: 12px;
	color: white;
}
.header-calendar:hover, .header-calendar:focus, .header-calendar:active {
	outline: none;
	text-decoration: none;
	color: #C0C0C0;
}
.header-calendar:hover .fa-calendar {
	color: #C0C0C0;
}
.header-blog {
	font-family: fantasy;
	margin-top: 12px;
	color: white;
}
.header-blog:hover, .header-blog:focus, .header-blog:active {
	border: none;
	outline: none;
	text-decoration: none;
	color: #C0C0C0;
}
.header-contact {
	font-family: fantasy;
	margin-top: 12px;
	color: white;
}
.header-contact:hover, .header-contact:focus, .header-contact:active {
	border: none;
	outline: none;
	text-decoration: none;
	color: #C0C0C0;
}

.fa {
	color: white;
}
