body {
	width: 100%;
	height: 100%;
	background-color: black;
}
h1 {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: white;
	font-family: "Arapey";
}

h2 {
	color: white;
	font-family: "Arapey";
	padding-left: 5%;
}
h3 {
	padding-top: 20px;
	padding-bottom: 10px;
	margin-left: 20%;
	color: white;
	font-family: "Arapey";
}

h4 {
	padding-top: 7px;
	text-align: center;
	color: white;
	font-family: fantasy;
}

p {
	color: white;
	text-align: center;
	font-size: 18px;
	font-family: sans-serif;
}
.home_text {
	text-align: left;
	margin-left: 25px;
	padding-top: 625px;
}
.main_div {
	height: 683px;
	width: 1024px;
	background-image: url('http://i1064.photobucket.com/albums/u373/bartowski20/matt_schiff_main_zps7sl66f8r.jpg');
	background-repeat: no-repeat;
	margin: auto;
}

.bio_div {
	height: 675px;
	width: 1026px;
	background-image: url('http://i1064.photobucket.com/albums/u373/bartowski20/Bio%20Photo%20Matt%20Brick%20Wall_zpsptz1vfqe.jpg');
	background-repeat: no-repeat;
	margin: auto;

}
.bio_box {
	background-color: #696969;
	opacity: 0.75;
	height: 675px;
	width: 513px;
}

.bio_text {
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 15px;
}

.calendar_pic {
	width: 100%;
}
.calendar_text {
	font-size: 22px;
	margin-top: 45px;
}

.contact_top {
	padding-top: 65px;
}
.contact_text {
	font-size: 22px;
	margin-top: 45px;
	
}
.contact_pic {
	width: 95%;
	margin-right: 5%;
}

img {
	display: block;
	margin: 0 auto;
}
.center_text {
  text-align: center;
}
.col-xs-3 {
  margin: 0 auto;
}

.top {
	padding-top: 15px;
}
.bottom {
	margin-bottom: 20px;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}