body {
	width: 100%;
	height: 100%;
	background-color: black;
}
h1 {
	padding-top: 20px;
	text-align: center;
	color: white;
	font-family: "Arapey";
}

p {
	color: white;
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
}